<template>
  <div class="food">
      <b-row style="background: #f8f9fa; padding: 3%;">
          <b-col md="4">
              <h5>Search with filters, maybe?</h5>
        <b-form-select v-model="selected" style="width: 75%;">
            <option value="">-- Select Filter --</option>
            <option value="category">Category</option>
            <option value="area">Area</option>
            <option value="MainIngredient">Main Ingredient</option>
        </b-form-select>
      </b-col>
      </b-row>
      <div class="row mt-3" v-if="selected == 'category'">
        <Category />
      </div>
      <div v-else-if="selected == 'area'" class="row mt-3">
        <Area />
      </div>
      <div v-else-if="selected == 'MainIngredient'" class="row mt-3">
        <MainIngredient />
      </div>
      <div v-else style="padding: 10%; text-align: center">
        <h5>Didn't find anything?</h5>
        <b-button pill variant="primary" href="/search" class="button"><b-icon-search></b-icon-search> Search page</b-button>
      </div>
  </div>

</template>

<script>
import Category from '../components/Category.vue'
import Area from '../components/Area.vue'
import MainIngredient from '../components/MainIngredient.vue'

export default {
  name: 'Food',
  components: { Category, Area, MainIngredient },
  data: function () {
    return {
      selected: '',
      query: '',
      results: ''
    }
  }
}
</script>
