<template>
  <div class="home" style="text-align: center">
    <div v-if="user.loggedIn" style="text-align: center">
      <b-alert show dismissible variant="success" class="welcome">
        Logged in as <b>{{user.data.displayName}}</b>
      </b-alert>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Home',
  data () {
    return {
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  computed: {
    ...mapGetters({
      // map `this.user` to `this.$store.getters.user`
      user: 'user'
    })
  }
}
</script>
