<template>
  <div class="search">
     <b-row style="background: #f8f9fa; padding: 3%;">
      <b-col>
        <b-input-group class="mb-2" style="width: 50%;">
          <b-input-group-prepend is-text>
            <b-icon icon="search"></b-icon>
          </b-input-group-prepend>
          <b-form-input type="search" placeholder="Search meal by name..." v-model="query"></b-form-input>
          <b-button variant="primary" style="margin-left: 2%" type="submit" @click="getResult(query)">Search</b-button>
        </b-input-group>
      </b-col>
      </b-row>
      <b-container>
        <b-row style="margin-top: 2%">
          <b-col cols="3" v-for="result in results" :key="result.idMeal" style="text-align: center;">
          <div class="card" style="width: 15rem; height: 95%;" @click="goToDetail(result.idMeal)">
            <img class="card-img-top" :src="result.strMealThumb"><b-badge variant="warning">{{result.strCategory}}</b-badge>
            <div class="card-body">
              <h5 class="card-title">{{result.strMeal}}</h5>
            </div>
          </div>
          </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Search',
  data () {
    return {
      msg: 'Search',
      query: '',
      results: '',
      selected: ''
    }
  },
  methods: {
    getResult (query) {
      axios.get('https://www.themealdb.com/api/json/v1/1/search.php?s=' + query).then(response => {
        console.log(response.data.meals)
        this.results = response.data.meals
      })
    },
    goToDetail (mealId) {
      this.$router.push({ name: 'Detail', params: { mId: mealId } })
    }
  }
}
</script>
