<template>
  <div class="wishlist" style="text-align: center">
    <b-container v-if="user.loggedIn" style="text-align: center">
        <b-container>
            <b-row style="margin-top: 2%">
                <b-col cols="3" v-for="result in fav" :key="result.id" style="text-align: center;">
                <div class="card" style="width: 15rem; height: 95%;" @click="goToDetail(result.id)">
                <img class="card-img-top" :src="result.picture"><b-badge variant="warning">{{result.category}}</b-badge>
                <div class="card-body">
                    <h5 class="card-title">{{result.name}}</h5>
                </div>
                </div>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
    <b-container v-else>
      <div style="padding: 20%;">
          <h3>You need to login to use this feature...</h3>
      </div>
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import firebase from 'firebase'
const STORAGE_KEY = 'wishlist'
export default {
  name: 'Home',
  data () {
    return {
      query: '',
      results: '',
      fav: []
    }
  },
  async created () {
    this.fav = JSON.parse(localStorage.getItem(STORAGE_KEY) || [])
    console.log(this.fav)
  },
  computed: {
    ...mapGetters({
      // map `this.user` to `this.$store.getters.user`
      user: 'user'
    })
  },
  methods: {
    signOut () {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace({
            name: 'Login'
          })
        })
    },
    goToDetail (mealId) {
      this.$router.push({ name: 'Detail', params: { mId: mealId } })
    }
  }
}
</script>
