<template>
  <div class="area container my-5">
    <b-form-select v-model="area" @change="getResult(area)">
      <option disabled value="" selected="selected">-- Select Filter --</option>
      <option v-for="area in resultArea" :key="area.strArea" :value="area.strArea">{{area.strArea}}</option>
    </b-form-select>
     <div class="row my-5" v-if="area == ''">
       <div></div>
    </div>
    <div class="row my-3" v-else>
        <div class="col-md-3" v-for="area in resultArea" :key="area.idMeal" style="text-align: center;">
            <div class="card" style="width: 15rem; height: 95%;" @click="goToDetail(area.idMeal)">
            <img class="card-img-top" :src="area.strMealThumb"><b-badge variant="warning">{{area.strArea}}</b-badge>
            <div class="card-body">
              <h5 class="card-title">{{area.strMeal}}</h5>
            </div>
            </div>`
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Foods',
  data () {
    return {
      msg: 'Search',
      query: '',
      results: '',
      area: '',
      resultArea: ''
    }
  },
  methods: {
    getResult (area) {
      axios.get('https://www.themealdb.com/api/json/v1/1/filter.php?a=' + area).then(response => {
        console.log(response.data.meals)
        this.resultArea = response.data.meals
      })
    },
    goToDetail (mealId) {
      this.$router.push({ name: 'Detail', params: { mId: mealId } })
    }
  },
  mounted () {
    axios.get('https://www.themealdb.com/api/json/v1/1/list.php?a=list').then(response => {
      console.log('ok')
      this.resultArea = response.data.meals
    })
  }
}
</script>
