<template>
  <div class="category container my-5">
    <b-form-select v-model="category" @change="getResult(category)">
      <option disabled value="" selected="selected">-- Select Filter --</option>
      <option v-for="category in resultCategory" :key="category.strCategory" :value="category.strCategory">{{category.strCategory}}</option>
    </b-form-select>
    <div class="row my-5" v-if="category == ''">
     <div></div>
    </div>
    <div class="row my-5" v-else>
         <div class="col-md-3" v-for="category in resultCategory" :key="category.idMeal" style="text-align: center;">
            <div class="card" style="width: 15rem; height: 95%;" @click="goToDetail(category.idMeal)">
            <img class="card-img-top" :src="category.strMealThumb"><b-badge variant="warning">{{category.strCategory}}</b-badge>
            <div class="card-body">
              <h5 class="card-title">{{category.strMeal}}</h5>
            </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Foods',
  data () {
    return {
      msg: 'Search',
      query: '',
      results: '',
      category: '',
      resultCategory: ''
    }
  },
  methods: {
    getResult (category) {
      axios.get('https://www.themealdb.com/api/json/v1/1/filter.php?c=' + category).then(response => {
        console.log(response.data.meals)
        this.resultCategory = response.data.meals
      })
    },
    goToDetail (mealId) {
      this.$router.push({ name: 'Detail', params: { mId: mealId } })
    }
  },
  mounted () {
    axios.get('https://www.themealdb.com/api/json/v1/1/list.php?c=list').then(response => {
      console.log('ok')
      this.resultCategory = response.data.meals
    })
  }
}
</script>
