<template>
  <div class="MainIncredient container my-5">
    <b-form-select v-model="ingredient" @change="getResult(ingredient)">
      <option disabled value="" selected="selected">-- Select Filter --</option>
      <option v-for="ingredient in resultIngredient" :key="ingredient.strIngredient" :value="ingredient.strIngredient">{{ingredient.strIngredient}}</option>
    </b-form-select>
    <div class="row my-5" v-if="ingredient == ''">
     <div></div>
    </div>
    <div class="row my-3" v-else>
        <div class="col-md-3" v-for="ingredient in resultIngredient" :key="ingredient.idMeal" style="text-align: center;">
            <div class="card" style="width: 15rem; height: 95%;" @click="goToDetail(ingredient.idMeal)">
            <img class="card-img-top" :src="ingredient.strMealThumb"><b-badge variant="warning">{{ingredient.strIngredient}}</b-badge>
            <div class="card-body">
                <h5 class="card-title">{{ingredient.strMeal}}</h5>
            </div>
            </div>`
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Foods',
  data () {
    return {
      msg: 'Search',
      query: '',
      results: '',
      ingredient: '',
      resultIngredient: ''
    }
  },
  methods: {
    getResult (ingredient) {
      axios.get('https://www.themealdb.com/api/json/v1/1/filter.php?i=' + ingredient).then(response => {
        console.log(response.data.meals)
        this.resultIngredient = response.data.meals
      })
    },
    goToDetail (mealId) {
      this.$router.push({ name: 'Detail', params: { mId: mealId } })
    }
  },
  mounted () {
    axios.get('https://www.themealdb.com/api/json/v1/1/list.php?i=list').then(response => {
      console.log('ok')
      this.resultIngredient = response.data.meals
    })
  }
}
</script>
