<template>
  <div id="app">
    <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand href="#">MealDB</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="/">Home</b-nav-item>
        <b-nav-item href="/food">Foods</b-nav-item>
        <b-nav-item href="/wishlist">Wishlist</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto" v-if="user.loggedIn == true">
        <!-- <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form> -->
        <b-nav-item>{{user.data.displayName}}</b-nav-item>
        <b-button pill variant="danger" @click.prevent="signOut">Sign out</b-button>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto" v-else>
          <b-button pill variant="success" href="/login">Sign in</b-button>
      </b-navbar-nav>
    </b-collapse>
    </b-navbar>
    <router-view></router-view>
    <footer style="width: 100%; background-color: #f8f9fa; color: black; text-align: center; padding: 3%">
      &copy; Copyright 2020 by chaernh
    </footer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import firebase from 'firebase'
export default {
  name: 'Home',
  computed: {
    ...mapGetters({
      // map `this.user` to `this.$store.getters.user`
      user: 'user'
    })
  },
  methods: {
    signOut () {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace({
            name: 'Login'
          })
        })
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
